/**
 * This file was taken in part from uBlock Origin. It contains styles common
 * to the extension.
 */

* {
  box-sizing: border-box;
}

body {
  background-color: transparent;
  color: black;
  font: 14px/1.3 sans-serif;
}

/* common.css<css> ends here */