/**
 * This file contains the User Interface styles of the extension.
 */

button.custom {
  padding: 0.6em 1em;
  border: 1px solid transparent;
  border-color: #ccc #ccc #bbb #bbb;
  border-radius: 3px;
  background-color: hsl(216, 0%, 75%);
  background-image: linear-gradient(#f2f2f2, #dddddd);
  background-repeat: repeat-x;
  color: #000;
  opacity: 0.8;
}

button.custom.disabled,
button.custom[disabled] {
  border-color: #ddd #ddd hsl(36, 0%, 85%);
  background-color: hsl(36, 0%, 72%);
  background-image: linear-gradient(#f2f2f2, #dddddd);
  color: #666;
  opacity: 0.6;
  pointer-events: none;
}

button.custom:hover {
  opacity: 1.0;
}

button.important {
  padding: 0.6em 1em;
  border: 1px solid transparent;
  border-color: #ffcc7f #ffcc7f hsl(36, 100%, 73%);
  border-radius: 3px;
  background-color: hsl(36, 100%, 75%);
  background-image: linear-gradient(#ffdca8, #ffcc7f);
  background-repeat: repeat-x;
  color: #222;
  opacity: 0.8;
}

button.important:hover {
  opacity: 1.0;
}

/* Not to be confused with button */
.button {
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 150%;
  margin: 0;
  padding: 8px;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
}

#main {
  padding: 1em;
  height: 100%;
  width: 400px;
  font-family: Helvetica, Ubuntu, Arial, sans-serif;
}

.alert {
  color: #78f;
  display: none;
}

.input-container {
  margin-bottom: 1em;
}

.autorun.disabled {
  color: #ccc;
}

#ud-label-loader.disabled {
  color: #ccc;
}

.warning-block {
  width: 80%;
  color: #e00;
  font-weight: bold;
}

.warning-icon {
  color: #e9d236;
}

.info-title {
  margin-bottom: 15px;
  padding: 0 3px;
  transition: color 0.2s;
}

.info-title:hover {
  color: #558abb;
}

.info-title-expanded {
  color: #558abb;
}

.info-block {
  width: 90%;
  background-color: #dde4e9;
}

.info-icon {
  color: #558abb;
}

.expand-block {
  height: 0;
  overflow: hidden;
  transition: height 0.3s, border 0.2s;
}

.loader {
  height: 0;
  overflow: hidden;
  transition: height 0.5s, border 0.4s;
}
/* .loader { */
/*   margin-top: 1em; */
/*   margin-left: 2em; */
/* } */


.checkbox-section {
  padding-left: 60px;
  font-family: 'PT Sans', sans-serif;
  /* font-size: 1.3em; */
  /* font-weight: bold; */
}

.checkbox-section input[type="checkbox"]{
  display: none;
}

.checkbox-container {
  margin-bottom: 10px;
}

.checkbox-container label {
  position: relative;
}

.checkbox-container span::before,
.checkbox-container span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* Check-boxes */
.checkbox-container .checkbox-label::before {
  left: -53px;
  width: 40px;
  height: 20px;
  background-color: #7d97ad;
  border-radius: 50px;
}

.checkbox-container .checkbox-label:hover::before {
}

.checkbox-container .checkbox-label::after {
  left: -55px;
  top: 0px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid #7d97ad;
  background-color: #fff;
  box-shadow: 0 0 10px -5px black;
  transition: left .25s, background-color .25s;
}

input[type="checkbox"]:checked + label .checkbox-label::before {
  background-color: #2795ee;
}

input[type="checkbox"]:checked + label .checkbox-label::after {
  left: -33px;
  background-color: #fff;
  border-color: #2795ee;
}

input[type="checkbox"]:disabled + label .checkbox-label::before {
  background-color: #b2b3b3;
}

input[type="checkbox"]:disabled + label .checkbox-label::after {
  left: -33px;
  background-color: #fafbfc;
  border-color: #adabab;
  box-shadow: 0 0 black;
}

input[type="checkbox"]:disabled + label {

}

/* ui.css<css> ends here */
