<template id="active-test">
    <style scoped>
        
    </style>
    <content></content>
</template>
<script>
    // (function() {
    //     var importDoc = document.currentScript.ownerDocument; // importee

    //     // Define and register <shadow-element>
    //     // that uses Shadow DOM and a template.
    //     var proto2 = Object.create(HTMLElement.prototype);

    //     proto2.createdCallback = function() {
    //       // get template in import
    //       var template = importDoc.querySelector('#suite');

    //       // import template into
    //       var clone = document.importNode(template.content, true);

    //       var root = this.createShadowRoot();
    //       root.appendChild(clone);
    //     };

    //     document.registerElement('test-suite', {prototype: proto2});
    //   })();
</script>