<!--
This component describes a suite of tests.

It creates a series of tests (<active-test>) as defined in the
grader.js file.

The component listens for 'test-passed' events from its tests.
When all tests pass, it emits a 'suite-passed' event to the 
<test-widget>.
-->

<link rel="import" href="/frontend-grading-engine/templates/active-test.html">

<template id="test-suite">
  <style scoped>
    .suite {
      width: 100%;
      margin-bottom: 10px;
    }
    .suite-title {
      font-size: 1.25em;
    }
    .suite-code {
      background: rgba(0,0,0,0.6);
      color: #EEE;
      margin: 6px -0.5em;
    }
    .suite-code > div {
      padding: 6px 0.5em;
      text-align: center;
    }
    img {
      height: 2.25em;
      margin-bottom: -0.75em;
    }
  </style>
  <div class="suite">
    <div class="suite-title"></div>
    <div class="suite-code"></div>
  </div>
</template>

<script>
  (function() {
    var importDoc = document.currentScript.ownerDocument;
    var proto = Object.create(HTMLElement.prototype);

    proto.createdCallback = function() {
      var template = importDoc.querySelector('#test-suite');
      var clone = document.importNode(template.content, true);
      var root = this.createShadowRoot();
      root.appendChild(clone);
    };

    proto.attachedCallback = function() {
      var suiteTests = this.suite.tests;
      var suiteName = this.suite.name;
      var suiteCode = this.suite.code || false;

      var suite = this.shadowRoot.querySelector('.suite');
      var sc = this.shadowRoot.querySelector('.suite-code');
      this.shadowRoot.querySelector('.suite-title').innerHTML = suiteName + " Tests";
    
      function displayCode() {
        sc.innerHTML = "<div>" + suiteName + " Code: " + suiteCode + "</div>";
        console.log(suiteName + " Code: " + suiteCode);
      };

      var eventCollector = [];
      this.addEventListener('test-passed', function (e) {
        if (eventCollector.indexOf(e.detail) === -1) {
          eventCollector.push(e.detail);
          if (eventCollector.length === suiteTests.length) {
            var passEvent = new CustomEvent('suite-passed', {'detail': suiteName});
            suite.dispatchEvent(passEvent);
            if (suiteCode) displayCode();
          }
        }
      });

      suiteTests.forEach(function(val, index, arr) {
        var at = document.createElement('active-test');
        at.test = val;
        suite.insertBefore(at, sc);
      })

    };

    document.registerElement('test-suite', {prototype: proto});
  })();
</script>